{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-one-fourth">
           <nav>
            <a href="/"> <span class="tag is-light"> Home </span> </a>
            <a href="/research"> <span class="tag is-light"> Research </span> </a>
            <a href="/projects"> <span class="tag is-light"> Projects </span> </a>
            <a href="{% static 'resume.pdf' %}"> <span class="tag is-light"> Resume </span> </a>
            <a href="mailto:mail@kirubarajan.com"> <span class="tag is-light"> Email </span> </a>
            <a href="/blog"> <span class="tag is-light"> Blog </span> </a>
            <br> <br>
          </nav>
          <figure class="image is-128x128">
            <img src="{% static 'img/hello.svg' %}">
          </figure>
          <h1 class="title"> hi, my name is Arun. </h1>
          
          <p>
            I'm an undergraduate at the University of Pennsylvania enrolled in the Artificial Intelligence
            dual degree program, studying computer science and cognitive science (linguistics) with a minor in statistics from the Wharton School of Business.<br> <br> 
            
            Under Professor Chris Callison-Burch, I'm currently building <a href="https://beta.chateval.org">ChatEval</a>, 
            a platform for deep learning researchers to store chatbot models. ChatEval also runs standardized
            automatic and human evaluations using word embeddings and Mechanical Turk for text generation/semantic replication <a href="https://beta.chateval.org/faq"> (currently authoring paper)</a>. <br> <br>

            I currently consult (both software engineering and technial writing) with a variety of cloud companies for infrastructure solutions. 
            Some of my clients include <a href="https://digitalocean.com">Digital Ocean</a>, <a href="https://www.alibabacloud.com">Alibaba Cloud</a> and
            <a href="https://www.trackgen.com"> TrackGen</a>. I'm also the lead software engineer on the Platform Team at <a href="https://pennlabs.org">Penn Labs</a>, scaling our services to tens of thousands of users.
          </p>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </section>
{% endblock %}