{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arun Kirubarajan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
    <section class="section" style="padding-bottom: 2rem">
        <div class="container">
          <div class="columns">
            <div class="column is-one-fourth"> </div>
            <div class="column">
              <nav>
                <a href="/"> <span style="margin-top:0.1rem" class="tag is-light"> Home </span> </a>
                <a href="/research"> <span class="tag is-light"> Research </span> </a>
                <a href="/projects"> <span class="tag is-light"> Engineering </span> </a>
                <a href="/consulting"> <span class="tag is-light"> Consulting </span> </a>
                <a href="/teaching"> <span style="margin-top: 0.25rem" class="tag is-light"> Teaching </span> </a>
                <a href="/blog"> <span class="tag is-light"> Blog </span> </a>
              </nav>
            </div>
            <div class="column is-one-fourth"> </div>
          </div>
        </div>
      </section>
      
    {% block content %}
    {% endblock %}
  </body>
</html>
