{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="section" style="padding-top: 0rem">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fourth"> </div>
        <div class="column">
          <figure class="image is-128x128">
            <img src="{% static 'img/papers.svg' %}">
          </figure>
            <h1 class="title"> my blog </h1>
            <p>I like writing about food, my work and (sometimes)
              my personal life. My views are entirely my own.</p>
        </div>
        <div class="column is-one-fourth"> </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="columns">
            <div class="columns is-multiline">
                {% for section in sections %}
                <div class="column is-one-third">
                  <p class="subtitle"><strong>{{section.category.name}}</strong></p>
                  {% for post in section.posts %}
                  <a href="/post/{{post.id}}" >
                    <div class="box">
                      <article class="media">
                        <div class="media-content">
                          <div class="content">
                              <p style="margin-bottom: 0.5rem" class="subtitle"> <strong> {{ post.title }} </strong> </p>
                              <p> {{ post.subtitle }} </p>
                              {% if post.recommended %} <span class="tag is-info"> Recommended </span> {% endif %}
                              <span class="tag is-{{ post.category.bulma_color }}"> {{ post.category.name }} </span> 
                              <span class="tag is-light"> {{ post.length }} read </span> <br>
                          </div>
                        </div>
                      </article>
                    </div>
                  </a>
                  <br />
                  {% endfor %}
                </div>
                <br>
                {% endfor %}
              </div>
        </div>

        <div class="column is-one-sixth"></div>
      </div>
    </div>
    
  </section>
{% endblock %}