{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="section" style="padding-top: 0rem">
    <div class="container">
      <div class="columns">
        <div class="column"> </div>
        <div class="column">
          <figure class="image is-128x128">
            <img src="{% static 'img/site.svg' %}">
          </figure>
          <h1 class="title"> some consulting </h1>
          <p>           
            In 2016, I founded a startup at MIT named <a href="https://eloreprojects.com">elore</a> that used NLP to match software engineering applicants to technical companies. We were able
            to grow to 30 teams using our product and were named Most Progressive Startup of our batch. <br /> <br />

            Now, I currently consult with a variety of cloud companies for deep learning infrastructure solutions. 
						Some of my clients include <a href="https://digitalocean.com">Digital Ocean</a>, <a href="https://www.alibabacloud.com">Alibaba Cloud</a> and
						<a href="https://www.trackgen.com"> TrackGen</a>. <br /> <br />

            I was recently named an Expert in Residence by the Wharton School. In the upcoming years, I will be working with various of the incubated startups
            to help build their software and machine learning infrastructures.
          </p>
        </div>
        <div class="column"> </div>
      </div>
    </div>
  </section>
{% endblock %}