{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="section" style="padding-top: 0rem">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fourth"> </div>
        <div class="column is-one-fourth">
          <figure class="image is-128x128">
            <img src="{% static 'img/thinking.svg' %}">
          </figure>
          <h1 class="title"> my research</h1>
          <p>My research interests include natural language processing, deep learning and cloud computing. <br> <br> 
            Currently, I am using deep learning to build an information-extraction system
            to parse news articles and build a <a href="http://gun-violence.org">dataset</a> of gun violence in the United States.
            Last summer, I've worked on automatic chatbot evaluation in the lab of Professor Chris Callison-Burch. We built <a href="https://chateval.org">ChatEval</a>,
            a scientific framework for evaluating neural open domain chatbots. ChatEval also runs standardized
            automatic and human evaluations using word embeddings and Mechanical Turk for human evaluation. 
            <br> <br>

            In 2016, I published a conference paper in the 2016 SPIE Defense journal and presented a talk on the cloud architecture I helped design for the online
            processing of sensor data from autonomous vehicles with applications for abstracting computation for mobile applications. This architecture is later developed at Trackgen and deployed into production.<br> <br>

            I've previously volunteered at McMaster University under Professor Jamal Deen and Dr. Thamarasa, assisting
            in data analysis using D3.js and Javascript. In addition, I helped write scripts to speed up instantiation of EC2 instances
            for analyzing tracker data. <br> <br>     
          </p>
        </div>
        <div class="column is-one-fourth"> </div>
      </div>
    </div>
  </section>
{% endblock %}