{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="section" style="padding-top: 0rem">
      <div class="container">
        <div class="columns">
          <div class="column is-one-fourth"> </div>
          <div class="column">  
          <figure class="image is-128x128">
            <img src="{% static 'img/hello.svg' %}">
          </figure>
          <h1 class="title"> Welcome! 🙌 </h1>
          <p>
            My name is Arun Kirubarajan and I'm from 
            <a href="https://www.google.com/maps/place/Mississauga,+ON,+Canada/@43.5772409,-79.6344308,11z/data=!3m1!4b1!4m5!3m4!1s0x882b469fe76b05b7:0x3146cbed75966db!8m2!3d43.5890452!4d-79.6441198">Mississauga</a>! 
              
            <br /> <br />
            Most of my time is spent as an undergraduate in the dual degree Artificial Intelligence
              Program at the University of Pennsylvania. I study computer science and cognitive science (linguistics) with a minor in statistics from the Wharton School of Business. I'm also lucky to teach
             the brilliant students in <a href="https://www.cis.upenn.edu/~cis192/">CIS 192: Python Programming</a>. <br> <br> 

             I am interested machine learning research but I like contributing to open source in my spare time. Outside of computer science, I'm an amateur coffee brewer and I like hiking.
             This website is where I write about the interesting work I'm doing or about me and my thoughts.
          </p>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </section>
{% endblock %}