{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="section" style="padding-top: 0rem">
      <div class="container">
        <div class="columns">
          <div class="column is-one-fourth"> </div>
          <div class="column">  
          <figure class="image is-128x128">
            <img src="{% static 'img/hello.svg' %}">
          </figure>
          <h1 class="title"> Welcome! 🙌 </h1>
          <p>
            My name is Arun Kirubarajan - I'm originally from <a href="https://www.google.com/maps/place/Mississauga,+ON,+Canada/@43.5772409,-79.6344308,11z/data=!3m1!4b1!4m5!3m4!1s0x882b469fe76b05b7:0x3146cbed75966db!8m2!3d43.5890452!4d-79.6441198">Mississauga</a>, Canada but currently I am an undergraduate in the dual degree Artificial Intelligence
            Program at the University of Pennsylvania. I study computer science and cognitive science (linguistics) with a minor in statistics from the Wharton School of Business.<br> <br> 

             I research machine learning in Penn's <a href="https://penn-nlp.github.io/">NLP Group</a> and will be joining <a href="https://enterprise.foursquare.com/">Foursquare</a> this summer.
             I also like contributing to open source in my spare time. 
             Outside of computer science, I like brewing coffee, skateboarding, and playing video games.
             This website is where I write the things that I'm doing or the things that I find interesting.
          </p>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </section>
{% endblock %}