{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="section" style="padding-top: 0rem">
      <div class="container">
        <div class="columns">
          <div class="column is-one-fourth"> </div>
          <div class="column">  
          <figure class="image is-128x128">
            <img src="{% static 'img/philly.svg' %}">
          </figure>
          <h1 class="title"> some teaching </h1>
          <p>
            I am the instructor for <a href="https://www.cis.upenn.edu/~cis192/">CIS 192</a> at Penn, which is 
            a great class about some very interesting topics (in Python). I also like to give technical talks about my work,
            usually on machine learning and web development: <br /> 
              <div class="panel list-group" style="margin-top: 1rem; border-radius: 0.2rem">
                <a class="panel-block list-group-item is-primary">WOCHAT 2019 - Text Generation Evaluation </a>
                <a class="panel-block list-group-item is-primary">PennApps 2019 - ML for NLP Quickstart (Python)</a>
                <a class="panel-block list-group-item is-primary">PennApps 2018 - Django Framework (Python)</a>
                <a class="panel-block list-group-item is-primary">PennApps 2018 - Express REST APIs (Node.js)</a>
              </div>
          </p>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </section>
{% endblock %}