@font-face {
    font-family: 'Avenir';
    src: url('https://storage.googleapis.com/kirubarajan-site.appspot.com/assets/AvenirLTStd-Book.otf') format('opentype');
}

h1 {
    font-family: 'Avenir', !important;
}

.generated h1 {
    font-size: 200% !important;
    font-weight: 600 !important;
}

.generated h2 {
    font-size: 110% !important;
    margin-bottom: 1rem! important;
    color: grey;
}

.generated h3 {
    font-size: 100% !important;
    font-weight: bold;
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
}

.generated p {
    margin-bottom: 1rem;
    line-height: 1.7 !important
}

.generated ol {
    margin-bottom: 1rem;
}

.generated li {
    margin-bottom: 1rem;
}

.generated pre {
    padding: 1rem
}