.generated h1 {
    font-size: 200% !important;
    font-weight: 600 !important;
}

.generated h2 {
    font-size: 110% !important;
    margin-bottom: 1rem! important;
    color: grey;
}

.generated h3 {
    font-size: 100% !important;
    font-weight: bold;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.generated p {
    margin-bottom: 1rem;
}

.generated ol {
    margin-bottom: 1rem;
}

.generated li {
    margin-bottom: 1rem;
}

.generated code {
    padding: 1rem
}